node_modules/
history/

# Optional REPL history
.node_repl_history

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

#Other
.idea
.DS_Store
logs
*.log
npm-debug.log*